{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Ingresar Vehiculo</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2 mt-3">
                            <button type="submit" class="btn btn-primary btn-lg">Guardar Producto</button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <a href="{% url 'lista_productos' %}" class="btn btn-secondary">Ver Vehículos en stock</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
